<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <img src="../../../assets/WhatsApp Image 2022-10-22 at 17.42.56.jpeg" 
         class="img-fluid" id="Fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Maria Victoria Gonzalez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse ut veniam, pariatur quae dolor assumenda unde dolore aliquam ipsum necessitatibus. Ullam harum tempore totam consectetur doloremque. Eveniet debitis non animi!
            </p>
        </span>
    </div>
</div>
